<%- include('header') -%>


<div class="videoContainer">
    <div class="centerVideo">
      <center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <video id="gum" playsinline autoplay muted></video>

      </center>
         
    </div>
</div>

<!-- <video id="recorded" playsinline loop></video> -->
<!-- <button id="enable-audio">Enable audio</button> -->
<!-- <div>
  Recording format: <select id="codecPreferences" disabled></select>
</div>
<div>
  <button id="recordButton">Start Recording</button>a
</div>
<div>
  <button id="playButton">Play</button>
</div>
<div>
  <button id="downloadButton">Download</button>
</div> -->
<script src="/socket.io/socket.io.js"></script>
<script src="/watch.js"></script>

<%- include('footer') -%>