<%- include('header') -%>



<br>
<br><br>
<br>
<video id="gum" playsinline autoplay muted hidden></video>
<div class="container3">

    <video id="recorded" playsinline loop></video>
</div>

<!-- <button id="enable-audio">Enable audio</button> -->
<div>
  Recording format: <select id="codecPreferences" disabled></select>
</div>

    <div class="vertical-center">
        <button id="recordButton">Start Recording</button>
        <button id="playButton" disabled >Play</button>
        <button id="downloadButton" disabled >Download</button>
        <button id="upload" disabled >Upload Video</button>
    </div>
</div>
<!-- <script defer src="https://www.gstatic.com/firebasejs/9.14.0/firebase-app.js"></script>

<script defer src="https://www.gstatic.com/firebasejs/9.14.0/firebase-storage.js"></script> -->
<!-- <script defer src="https://www.gstatic.com/firebasejs/9.14.0/firebase-firestore.js"></script>-->
<!-- <script defer src="./firebase.js"></script> -->

<script src="/socket.io/socket.io.js"></script>
<script src="/watch.js"></script>
<script src="bundle.js"></script>
<!-- <script src="/firebase.js"></script> -->
<script>
</script>












<%- include('footer') -%>








